.container {
    max-width: 100%;
}

header{
    background-color: #000;
    color: #fff;
}
 
nav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.gnb {
    display: flex;
}

.gnb li {
    padding: 0 20px;
}

.gnb li a{
    display: block;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
}

/* header2 */
.header2{
    position: fixed;
    width: 100%;
    top: -60px;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    transition: top 0.3s;
}

.header2 .gnb li a{
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: bold;
}

.show{
    top: 0;
}

.slide {
    height: 600px;
    background-image: url('../images/slide_01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.go_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
}